*.mseed
old_code
__pycache__
script_frs/templates
script_frs/test_events
script_frs/deep_events
script_frs/detections
script_frs/detections_waveforms
script_frs/initial_templates_daily
script_frs/initial_templates_daily_old
script_frs/outslurm
notebooks/.ipynb_checkpoints
STALTA_tests/bad
STALTA_tests/good
STALTA_tests/inslurm
STALTA_tests/lists
STALTA_tests/outslurm
STALTA_tests/waveforms
