old_code
__pycache__
setup.py
STALTA_tests
script_frs/templates
script_frs/test_events
script_frs/deep_events
script_frs/detections
script_frs/detections_waveforms
script_frs/initial_templates_daily
script_frs/initial_templates_daily_old
script_frs/outslurm
notebooks/.ipynb_checkpoints
