dates_rotate.list
deep_events
deep_events.ipynb
detections
detections_waveforms
extract_waveforms.py
extract_waveforms.sh
get_full_template.py
initial_templates_daily
initial_templates_daily_old
make_templates.py
outslurm
__pycache__
stack_detections_new_templates.ipynb
STALTA_tests
template_gen_modified.py
templates
templates_from_BHdetections.ipynb
test_events
times_deep_events.list
tmp.txt
version1
